{% extends 'base.html.twig' %}

{% block title %}Hello GoodsController!{% endblock %}

{% block body %}
<h1>Goods</h1>
<ul>
    {% set i = 0 %}
        {% for gd in goods %}
                <li>{{ gd.title }}||{{ gd.description }}|| <img src="data:image/jpeg;charset=utf-8;base64, {{pics[i]}}"/> ||{{ gd.popular }}</li>
            {% set i = i+1 %}
        {% endfor %}
</ul>
{% endblock %}
